<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-wine-offer-heading" jhiTranslate="storeApp.wineOffer.home.createOrEditLabel">Create or edit a Wine Offer</h2>

            <div>
                <jhi-alert-error></jhi-alert-error>

                <div class="form-group" [hidden]="!editForm.get('id')!.value">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id" readonly />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storeApp.wineOffer.isAvailable" for="field_isAvailable">Is Available</label>
                    <input type="checkbox" class="form-control" name="isAvailable" id="field_isAvailable"
                           formControlName="isAvailable"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storeApp.wineOffer.price" for="field_price">Price</label>
                    <input type="number" class="form-control" name="price" id="field_price"
                           formControlName="price"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storeApp.wineOffer.specialPrice" for="field_specialPrice">Special Price</label>
                    <input type="number" class="form-control" name="specialPrice" id="field_specialPrice"
                           formControlName="specialPrice"/>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storeApp.wineOffer.wineStock" for="field_wineStock">Wine Stock</label>
                    <select class="form-control" id="field_wineStock" name="wineStock" formControlName="wineStockId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="wineStockOption.id" *ngFor="let wineStockOption of winestocks; trackBy: trackById">{{ wineStockOption.id }}</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="storeApp.wineOffer.wineStore" for="field_wineStore">Wine Store</label>
                    <select class="form-control" id="field_wineStore" name="wineStore" formControlName="wineStoreId">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="wineStoreOption.id" *ngFor="let wineStoreOption of winestores; trackBy: trackById">{{ wineStoreOption.id }}</option>
                    </select>
                </div>
            </div>

            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary" (click)="previousState()">
                    <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>

                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving" class="btn btn-primary">
                    <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
