<div class="row">
    <div class="rounded col-md-12">
        <ngb-carousel
        [showNavigationArrows]="true" 
        [showNavigationIndicators]="true"
        [interval]="12000"
        [keyboard]="true"
        [pauseOnHover]="true"
        [wrap]="true"
        [activeId]="'secondSlide'"
        >
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="../../content/images/1.jpg" alt="">
              </div>
              <div class="carousel-caption">
                <h3>Title Goes Here</h3>
                <p>Consectetur tortor volutpat pretium.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
              <div class="picsum-img-wrapper">
                <img src="../../content/images/2.jpg" alt="">
              </div>
              <div class="carousel-caption">
                <h3>Title Goes Here</h3>
                <p>Consectetur tortor volutpat pretium.</p>
              </div>
            </ng-template>
            <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img src="../../content/images/3.jpg" alt="">
                </div>
                <div class="carousel-caption">
                  <h3>Title Goes Here</h3>
                  <p>Consectetur tortor volutpat pretium.</p>
                </div>
              </ng-template>
              <ng-template ngbSlide>
                <div class="picsum-img-wrapper">
                  <img src="../../content/images/4.jpg" alt="">
                </div>
                <div class="carousel-caption">
                  <h3>Title Goes Here</h3>
                  <p>Consectetur tortor volutpat pretium.</p>
                </div>
              </ng-template>
          </ngb-carousel>
        
    </div>
</div>

<div class="row">
      <div class="col-md-4" *ngFor="let wineOffer of wineOffers ;trackBy: trackId">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title d-flex justify-content-between align-items-center">
                  {{wineOffer.price}} 
               </h4>
                <p>{{wineOffer.price}}</p>
                <p>{{wineOffer.price}}</p>  
            </div>
        </div>
      </div>
</div>

<div class="row">
    <div class="col-md-12">
            <h2 id="page-heading">
                <span jhiTranslate="storeApp.wineOffer.home.title">Wine Offers</span>
                </h2>
        
            <jhi-alert-error></jhi-alert-error>
        
            <jhi-alert></jhi-alert>
        
            <div class="alert alert-warning" id="no-result" *ngIf="wineOffers?.length === 0">
                <span jhiTranslate="storeApp.wineOffer.home.notFound">No wineOffers found</span>
            </div>
      
            <div class="table-responsive" id="entities" *ngIf="wineOffers && wineOffers.length > 0">
                <table class="table table-striped" aria-describedby="page-heading">
                    <thead>
                        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                            <th scope="col"  jhiSortBy="isAvailable"><span jhiTranslate="storeApp.wineOffer.isAvailable">Is Available</span> <fa-icon icon="sort"></fa-icon></th>
                            <th scope="col"  jhiSortBy="price"><span jhiTranslate="storeApp.wineOffer.price">Price</span> <fa-icon icon="sort"></fa-icon></th>
                            <th scope="col"  jhiSortBy="specialPrice"><span jhiTranslate="storeApp.wineOffer.specialPrice">Special Price</span> <fa-icon icon="sort"></fa-icon></th>
                            <th scope="col"  jhiSortBy="wineStockId"><span jhiTranslate="storeApp.wineOffer.wineStock">Wine Stock</span> <fa-icon icon="sort"></fa-icon></th>
                            <th scope="col"  jhiSortBy="wineStoreId"><span jhiTranslate="storeApp.wineOffer.wineStore">Wine Store</span> <fa-icon icon="sort"></fa-icon></th>
                            <th scope="col"></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let wineOffer of wineOffers ;trackBy: trackId">
                            <td><a [routerLink]="['/wine-offer', wineOffer.id, 'view']">{{ wineOffer.id }}</a></td>
                            <td>{{ wineOffer.isAvailable }}</td>
                            <td>{{ wineOffer.price }}</td>
                            <td>{{ wineOffer.specialPrice }}</td>
                            <td>
                                <div *ngIf="wineOffer.wineStockId">
                                    <a [routerLink]="['/wine-stock', wineOffer.wineStockId , 'view']" >{{ wineOffer.wineStockId }}</a>
                                </div>
                            </td>
                            <td>
                                <div *ngIf="wineOffer.wineStoreId">
                                    <a [routerLink]="['/wine-store', wineOffer.wineStoreId , 'view']" >{{ wineOffer.wineStoreId }}</a>
                                </div>
                            </td>
                            <td class="text-right">
                                <div class="btn-group">
                                    <button type="submit"
                                            [routerLink]="['/wine-offer', wineOffer.id, 'view']"
                                            class="btn btn-info btn-sm">
                                        <fa-icon icon="eye"></fa-icon>
                                        <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                                    </button>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        
            <div *ngIf="wineOffers && wineOffers.length > 0">
                <div class="row justify-content-center">
                    <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
                </div>
        
                <div class="row justify-content-center">
                    <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
                </div>
            </div>
    </div>
</div>
