<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="wineCustomer">
            <h2><span jhiTranslate="storeApp.wineCustomer.detail.title">Wine Customer</span> {{ wineCustomer.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">

                <dt><span jhiTranslate="storeApp.wineCustomer.user">User</span></dt>
                <dd>
                    <span>{{ wineCustomer.login }}</span>
                    <jhi-boolean
                        [value]="wineCustomer.activated ? true : false"
                        [textTrue]="'userManagement.activated' | translate"
                        [textFalse]="'userManagement.deactivated' | translate">
                    </jhi-boolean>
                </dd>

                <dt><span jhiTranslate="userManagement.firstName">First Name</span></dt>
                <dd>{{ wineCustomer.firstName }}</dd>

                <dt><span jhiTranslate="userManagement.lastName">Last Name</span></dt>
                <dd>{{ wineCustomer.lastName }}</dd>

                <dt><span jhiTranslate="userManagement.email">Email</span></dt>
                <dd>{{ wineCustomer.email }}</dd>

                <dt><span jhiTranslate="userManagement.langKey">Lang Key</span></dt>
                <dd>{{ wineCustomer.langKey }}</dd>

                <dt><span jhiTranslate="userManagement.createdBy">Created By</span></dt>
                <dd>{{ wineCustomer.createdBy }}</dd>

                <dt><span jhiTranslate="userManagement.createdDate">Created Date</span></dt>
                <dd>{{ wineCustomer.createdDate | date:'dd/MM/yy HH:mm' }}</dd>

                <dt><span jhiTranslate="userManagement.lastModifiedBy">Last Modified By</span></dt>
                <dd>{{ wineCustomer.lastModifiedBy }}</dd>

                <dt><span jhiTranslate="userManagement.lastModifiedDate">Last Modified Date</span></dt>
                <dd>{{ wineCustomer.lastModifiedDate | date:'dd/MM/yy HH:mm' }}</dd>

                <dt><span jhiTranslate="storeApp.wineCustomer.address">Address</span></dt>
                <dd>
                    <span>{{ wineCustomer.address }}</span>
                </dd>
                <dt><span jhiTranslate="storeApp.wineCustomer.phone">Phone</span></dt>
                <dd>
                    <span>{{ wineCustomer.phone }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/wine-customer', wineCustomer.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
            </button>
        </div>
    </div>
</div>
