<div>
    <h2 id="page-heading">
        <span jhiTranslate="storeApp.wineStore.home.title">Wine Stores</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-wine-store" [routerLink]="['/wine-store/new']">
            <fa-icon icon="plus"></fa-icon>
            <span  jhiTranslate="storeApp.wineStore.home.createLabel">
            Create a new Wine Store
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="wineStores?.length === 0">
        <span jhiTranslate="storeApp.wineStore.home.notFound">No wineStores found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="wineStores && wineStores.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" [callback]="loadPage.bind(this)">
                    <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="name"><span jhiTranslate="storeApp.wineStore.name">Name</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="description"><span jhiTranslate="storeApp.wineStore.description">Description</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"  jhiSortBy="rating"><span jhiTranslate="storeApp.wineStore.rating">Rating</span> <fa-icon icon="sort"></fa-icon></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let wineStore of wineStores ;trackBy: trackId">
                    <td><a [routerLink]="['/wine-store', wineStore.id, 'view']">{{ wineStore.id }}</a></td>
                    <td>{{ wineStore.name }}</td>
                    <td>{{ wineStore.description }}</td>
                    <td>{{ wineStore.rating }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/wine-store', wineStore.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/wine-store', wineStore.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(wineStore)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <div *ngIf="wineStores && wineStores.length > 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>

        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="ngbPaginationPage" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage($event)"></ngb-pagination>
        </div>
    </div>
</div>
